/********** Header **********/

header {
	width: 100%;
	height: 100vh;
	background-image: url(../img/cover.png);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position-x: center;
	background-color: #EEEEEF;
}


/* Slideshow */

header #slideshow {
	position: relative;
	height: 65vh;
	top: 52%;
	transform: translateY(-50%);
	overflow: hidden;
}

header #slideshow > div {
	position: absolute;
	transition: all 1s;
	opacity: 1;
	width: 60%;
	height: 100%;
	background-color: #ffffff;
	border: 2px solid #000000;
	border-radius: 1rem;
}

header #slideshow div img {
	width: 50%;
	margin: auto;
}

header #slideshow div.selected {
	z-index: 10;
	left: 50%;
	transform: translateX(-50%);
}

header #slideshow div.previous {
	z-index: 5;
	left: 30%;
	transform: translateY(12.5%) translateX(-50%);
	width: 37%;
	height: 75%;
}

header #slideshow div.next {
	z-index: 5;
	left: 70%;
	transform: translateY(12.5%) translateX(-50%);
	width: 37%;
	height: 75%;
}

header #slideshow div.previousSecond {
	z-index: 1;
	left: 15%;
	transform: translateY(50%) translateX(-50%);
	opacity: 0.7;
	width: 25%;
	height: 50%;
}

header #slideshow div.nextSecond {
	z-index: 1;
	left: 85%;
	transform: translateY(50%) translateX(-50%);
	opacity: 0.7;
	width: 25%;
	height: 50%;
}

header #slideshow div.hidePrevious {
	left: 0%;
	opacity: 0;
	transform: translateY(50%) translateX(-50%);
	width: 25%;
	height: 50%;
}

header #slideshow div.hideNext {
	left: 100%;
	opacity: 0;
	transform: translateY(50%) translateX(-50%);
	width: 25%;
	height: 50%;
}

header #controls {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: 3%;
}

header #controls button {
	margin: 0 50px;
	font-size: 50px;
	width: 100px;
}